<table>
  <caption>Your created events</caption>
  <thead>
    <td>Event ID</td>
    <td>Event Date</td>
    <td>Event Location</td>
  </thead>
  <tbody>
  <% @created_events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.date %></td>
      <td><%= link_to event.location, event_path(event) %></td>
    </tr>
  <% end %>
  </tbody>
</table>