<h1 class="">Here's all events you've been invited to:</h1>

<% if @attending_events.empty? %>
  <h4>You haven't been invited to any events yet</h4>
  <p># of events = <%= @attending_events.count %></p>
<% else %>
  <% if @past_events %>
    <%= render partial: 'shared/attending_events', locals: { events: @past_events, caption: "Past events"} %>
  <% end %>  
  <% if @future_events %>
    <%= render partial: 'shared/attending_events', locals: { events: @future_events, caption: "Future events"} %>    
  <% end %>
<% end %>

<%= button_to "Create new event", new_event_path, method: :get, class: "btn-md" %>