<h1>Here's all events you've been invited to:</h1>

<p># of events = <%= @attending_events.count %></p>

<%= render partial: 'shared/attending_events' %>

<%= button_to "Create new event", new_event_path, method: :get %>