<%= render partial: "event" %>

<% if @event.creator == current_user %>
  <% if @not_yet_invited_users.count.>(0) %>
    <%= render partial: "invite_users" %>
  <% else %>
    <h4>All users have been invited already</h4>
  <% end %>  
<% end %>
  

  

